/* 

---------- TYPOGRAPHY ----------

FONT SIZES
12px / 16px / 20px / 24px / 32px / 40px / 48px / 62px

FONT WEIGHTS
400 / 700

LINE HEIGHTS
1.2 / 1.5

LETTER SPACING
0 / -2px

FONT FAMILY
Poppins

---------- COLORS ----------

PRIMARY
Base: #339af0 (Sky Blue)
Tint: #d0ebff (Arctic)
Shade: #1c7ed6 (Deep Sea)

SECONDARY
Base: #9775fa (Lavendar)
Tint: #e5dbff (Moonligh Iris)
Shade: #7048e8 (Velvet Night)

TERTIARY
Base: #ff922b (Pumpkin)
Tint: #ffe8cc (Dawn)
Shade: #f76707 (Lava)

GREY
Base: #495057 (Slate)
Tint: #f1f3f5 (Pebble)
Shade: #212529 (Graphite)
White: #ffffff (White)
Black: #000000 (Black)

---------- BORDER RADIUS ----------

4px / 8px / 20px

---------- SPACING SYSTEM ----------

5px / 10px / 15px / 20px / 25px / 30px / 40px / 50px / 60px / 70px / 80px / 90px / 100px / 125px / 150px / 200px / 250px / 300px / 400px / 500px

*/

/* ----------------------- GLOBAL STYLES ----------------------- */

:root {
  /* FONT SIZE */
  --text-sm: 1.2rem;
  --text-base: 1.6rem;
  --text-paragraph: 2rem;
  --text-h5: 2.4rem;
  --text-h4: 3.2rem;
  --text-h3: 4rem;
  --text-h2: 4.8rem;
  --text-h1: 6.2rem;

  /* FONT WEIGHT */
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* LINE HEIGHTS */
  --line-height-tight: 1.2;
  --line-height-normal: 1.5;

  /* LETTER SPACING */
  --letter-spacing-tight: -2px;

  /* FONT FAMILY */
  --font-family: "Poppins", sans-serif;

  /* COLORS */
  --primary-base: #339af0;
  --primary-tint: #d0ebff;
  --primary-shade: #1c7ed6;
  --secondary-base: #9775fa;
  --secondary-tint: #e5dbff;
  --secondary-shade: #7048e8;
  --tertiary-base: #ff922b;
  --tertiary-tint: #ffe8cc;
  --tertiary-shade: #f76707;
  --grey-base: #495057;
  --grey-tint: #f1f3f5;
  --grey-shade: #212529;
  --white: #ffffff;
  --black: #000000;

  /* MISCELLENEOUS */
  --nav-height: 100px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  color: var(--grey-base);
}

.container {
  max-width: 99.5vw;
  margin: 0 auto;
  min-height: 1200px;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-tight);
  color: var(--grey-shade);
}

h1 {
  /* text-align: center; */
  font-size: var(--text-h1);
}

h2 {
  font-size: var(--text-h2);
}

h3 {
  font-size: var(--text-h3);
}

h4 {
  font-size: var(--text-h4);
}

h5 {
  font-size: var(--text-h5);
}

p {
  font-size: var(--text-paragraph);
}

a {
  text-decoration: none;
  font-size: var(--text-base);
  display: inline-block;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--grey-base);
}

.navbar {
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;

  /* can be removed later */
  /* position: fixed;
  top: 0;
  left: 80px;
  width: 90%;
  max-width: 1200px;
  background: #fff;
  z-index: 1000;
  margin: 0 auto; */
  /* margin: 0 1rem; */
  background-color: #f0f0f0;
  min-height: 100px;
  width: 100%;
}

.nav-btn-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.btn {
  font-weight: 400;
  font-size: var(--text-base);
  text-decoration: none;
  padding: 1.5rem 3rem;
  border-radius: 8px;
  margin: 1rem;
}

.btn-primary:link,
.btn-primary:visited {
  color: var(--white);
  background-color: var(--primary-base);
  border: 2px solid var(--primary-base);
  transition: 1s;
}

.btn-primary:hover,
.btn-primary:active {
  color: var(--white);
  background-color: var(--primary-shade);
  border: 2px solid var(--primary-shade);
  transform: scale(1.05, 1.05);
  box-shadow: 0px 3px 6px 0px var(--grey-base);
}

.btn-primary-outline:link,
.btn-primary-outline:visited {
  color: var(--primary-base);
  background-color: var(--white);
  border: 2px solid var(--primary-base);
  transition: 1s;
}

.btn-primary-outline:hover,
.btn-primary-outline:active {
  color: var(--primary-shade);
  background-color: var(--white);
  border: 2px solid var(--primary-shade);
  transform: scale(1.05, 1.05);
  box-shadow: 0px 3px 6px 0px var(--grey-base);
}

.btn-secondary:link,
.btn-secondary:visited {
  color: #ffffff;
  background-color: var(--secondary-base);
  border: 2px solid var(--secondary-base);
  transition: 1s;
}

.btn-secondary:hover,
.btn-secondary:active {
  color: var(--white);
  background-color: var(--secondary-shade);
  border: 2px solid var(--secondary-shade);
  transform: scale(1.05, 1.05);
  box-shadow: 0px 3px 6px 0px var(--grey-base);
}

.highlight {
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.highlight-primary {
  background-color: var(--primary-base);
}

.highlight-secondary {
  background-color: var(--secondary-base);
}

.highlight-tertiary {
  background-color: var(--tertiary-base);
}

.logo-md {
  width: 50px;
  margin: 2rem;
}

.proj-details {
  margin-top: calc(var(--nav-height) + 6rem);
  margin-left: 6rem;
}

li {
  list-style: none;
}

.grid-table {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 2 equal columns */
  gap: 5rem;
  text-align: center;
}

.proj-heading {
  font-weight: bold;
  /* text-align: center; */
  font-size: var(--text-h3);
  /* border: 1px solid #333; */
  padding: 8px;
  text-align: center;
  margin: 8px 0;
}

.cell {
  /* border: 1px solid #333; */
  padding: 8px;
  /* text-align: center; */
  font-size: var(--text-h5);
  box-shadow: 0 2px 6px #c3c2c21a;
  transition: 0.5s;
}

.cell:hover {
  box-shadow: 3px 3px 4px #424242;
  background-color: #2b2b2b1a;
}

.cell a {
  font-size: var(--text-h4);
}
.cell a:hover {
  font-size: var(--text-h4);
}
